<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{home.html}"
      lang="en">
<head>
    <title>Moving Locations CheckList</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script type="text/javascript"  th:src="@{/js/movelocations.js}"></script>
</head>
<body onload="AutoRefresh(30000);">
<section layout:fragment="content">
    <div class="table-responsive-sm">
        <table>
            <thead>
            <th colspan="1" >
                <h1> <span th:text="*{#lists.isEmpty(tasks)} ? 'You have no tasks, considering adding some.' : 'Before you move, are these tasks completed?'"></span></h1>
            </th>
            <th colspan="2"></th>
            </thead>
            <tbody>
            <tr th:each="task : ${tasks}">
                <td>
                    <div class="input-group mb-3 " >
                        <div class="input-group-prepend">
                            <div class="input-group-text" th:id="${task.getOrderNum()}">
                                <input type="checkbox" aria-label="task check box" th:id="|checkbox${task.getId()}|" th:checked="${task.isCompleted()}" th:attr="onclick='handleCheckBox(this, ' + ${task.getId()} +');'">
                            </div>
                        </div>
                        <div type="text" class="form-control" aria-label="checkbox" th:text="${task.getDescription()}" style="overflow: auto" th:id="|heading${task.getId()}|" data-toggle="collapse" th:attr="data-target='#collapse' + ${task.getId()}" aria-expanded="false"></div>
                    </div>
                    <div th:id="|collapse${task.getId()}|" class="card collapse" th:attr="aria-labelledby='heading' + ${task.getId()}">
                        <div class="card-body">
                            <div class="tab">
                                 <span th:each="category : ${task.getCategories()}">
                                    <span class="badge badge-info" th:text="${category.getCategoryName()}"></span>
                                    <span></span>
                                </span>
                            </div>
                            <div class="text-md-center" type="text" th:text="${task.getNotes()}"></div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="input-group mb-3">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Modify Task
                            </button>
                            <div class="dropdown-menu" aria-labelledby="editTaskDropdownMenuButton">
                                <form action="/moveLocations/editTask" method="GET">
                                    <input type="hidden" name="taskId" th:value="${task.getId()}"/>
                                    <button type="submit" class="btn btn-primary dropdown-item">Edit</button>
                                </form>
                                <div class="dropdown-divider"></div>
                                <form th:id="${task.getId()}" action="/moveLocations/deleteTask" method="POST">
                                    <input type="hidden" name="taskId" th:value="${task.getId()}"/>
                                    <button class="btn btn-danger dropdown-item text-danger">Delete</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <form class="needs-validation col-sm-8" action="/moveLocations/addTask" method="post">
        <div class="form-group">
            <span>Add a task here</span>
            <input type="text" class="form-control" id="description" name="description" placeholder="e.g. jacks are up" required/>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-danger" href="/moveLocations">Cancel</a>
    </form>
    <script type="text/javascript">
        $( 'tbody' ).sortable({
            update: function () {
                var taskIds=  $('tbody').sortable('toArray');
                var dataJSON = "[";
                for(var i = 0; i < taskIds.length; i++) {
                    if(i > 0) {
                        dataJSON += ",";
                    }
                    dataJSON +=  JSON.stringify({id : taskIds[i],
                        orderNum : i});
                }
                dataJSON += "]";

                $.ajax({
                    type: "POST",
                    contentType: "application/json;",
                    url: "/moveLocations/updateTaskOrder",
                    method: "POST",
                    data: dataJSON,
                    cache: false,
                    timeout: 600000
                });

            }
        });
    </script>
</section>
</body>
</html>